.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.post-card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: transform 100ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.post-card img {
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.post-card:hover {
    transform: scale(1.03);
    background-color: #ddd;
}

.post-content {
    padding: 1rem;
}

.post-content h2 {
    margin-bottom: .5rem;
}
